.header {
    position : fixed;
    z-index : 1;
    width : 100%;
}

.site-layout {
    margin-top: 64px;
    padding-left : 5px;
    padding-right : 5px;
}


.logo {
    float: left;
    width : 64px;
    height: 64px;
    background-image: url("./public/img/ndap_bi.png");
}

.notification {
    width : 64px;
    height : 64px;
    float: right;
    text-align: center;
}